<div class="col s12 m7 l7">
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle red">email</i>
            <span class="title"><%= session.siteText[session.siteLang].profile.mail %></span>
            <p><%=email%><br>
            </p>
            <a href="#!" class="secondary-content"></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">settings_cell</i>
            <span class="title"><%= session.siteText[session.siteLang].profile.phone %></span>
            <p><%=userInfo.phonenumber%><br>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">shopping_cart</i>
            <span class="title"><%= session.siteText[session.siteLang].profile.cart %></span>
            <p><br>

            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">favorite</i>
            <span class="title"><%= session.siteText[session.siteLang].profile.favs %></span>
            <p><br>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </li>
    </ul>
</div>
