<div id="changeinner" class="center" style="border-style: solid; border-width: 1px; border-color: green; padding: 10px;">
    <p>Ürün için stok adetlerini ayarlayınız</p>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>22</p>
            <p class="number-field">
                <input name="22" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[0] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>23</p>
            <p class="number-field">
                <input name="23" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[1] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>24</p>
            <p class="number-field">
                <input name="24" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[2] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>25</p>
            <p class="number-field">
                <input name="25" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[3] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>26</p>
            <p class="number-field">
                <input name="26" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[4] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>27</p>
            <p class="number-field">
                <input name="27" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[5] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
</div>
