<div id="changeinner" class="center" style="border-style: solid; border-width: 1px; border-color: green; padding: 10px;">
    <p>Set the stock quantities for the product</p>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>XS</p>
            <p class="number-field">
                <input name="XS" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[0] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>S</p>
            <p class="number-field">
                <input name="S" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[1] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>M</p>
            <p class="number-field">
                <input name="M" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[2] %>" id="test55" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>L</p>
            <p class="number-field">
                <input name="L" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[3] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>XL</p>
            <p class="number-field">
                <input name="XL" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[4] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>XXL</p>
            <p class="number-field">
                <input name="XXL" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[5] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
</div>
