<div id="changeinner" class="center" style="border-style: solid; border-width: 1px; border-color: green; padding: 10px;">
    <p>Ürün için stok adetlerini ayarlayınız</p>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>36</p>
            <p class="number-field">
                <input name="36" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[0] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>37</p>
            <p class="number-field">
                <input name="37" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[1] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>38</p>
            <p class="number-field">
                <input name="38" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[2] %>" id="test55" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>39</p>
            <p class="number-field">
                <input name="39" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[3] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>40</p>
            <p class="number-field">
                <input name="40" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[4] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>41</p>
            <p class="number-field">
                <input name="41" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[5] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>42</p>
            <p class="number-field">
                <input name="42" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[6] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>43</p>
            <p class="number-field">
                <input name="43" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[7] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>44</p>
            <p class="number-field">
                <input name="44" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[8] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>45</p>
            <p class="number-field">
                <input name="45" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[9] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
</div>
