<footer class="page-footer black darken-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col s4 m4">
                <h5 class="white-text">Shopping</h5>
                <ul>
                    <li><a class="white-text" href="/<%=header.links[0]%>/hoodies">Hoodies</a></li>
                    <li><a class="white-text" href="<%=header.links[1]%>">Jackets</a></li>
                    <li><a class="white-text" href="<%=header.links[2]%>">T-Shirts</a></li>
                </ul>
            </div>
            <div class="col s4 m4">
                <h5 class="white-text">
                    <%= session.siteText[session.siteLang].footer.corp %>
                </h5>
                <ul>
                    <li><a class="white-text" href="/about-us">About us</a></li>
                    <li><a class="white-text" href="/<%=header.links[0]%>">Joka Foundation</a></li>
                </ul>
            </div>
            <div class="col s4 m4">
                <h5 class="white-text">
                    <%= session.siteText[session.siteLang].footer.social %>
                </h5>
                <ul>
                    <li><a class="white-text" href="https://www.facebook.com/afrocheckglobal">Facebook</a></li>
                    <li><a class="white-text" href="https://www.instagram.com/afrocheck/">Instagram</a></li>
                    <li><a class="white-text" href="https://twitter.com/afrocheckk">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright darken-4" style="background-color: #040404;
    padding: 2em 0;">
        <div class="row">
            <a href="/" class="brand-logo center col s6 l4 offset-s3 offset-l4">
                <img class="responsive-img" src="/images/footerlogo.png" />
            </a>
        </div>
    </div>
</footer>

</body>

<!-- Compiled and minified CSS -->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/javascripts/zalina.js"></script>

</html>