<%- include partials/header %>

<div class="container cartwrapper">
    <br>
    <h5 class="center" style="font-family: 'Bree Serif', serif;"><b><%= session.siteText[session.siteLang].cart.title %></b></h5>
    <br>

    <div class="row">
        <div class="col s8 m8 cart">
            <% if (session.cart && session.cart.length > 0) { %>
            <% session.cart.forEach((item, index) => { %>
            <% total += item.totalPrice %>
            <div id="<%= item.id %>" class="card horizontal">
                <div class="card-image">
                    <img src="/products/<%= item.id %>/0.png">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <button class="btn z-depth-0 button-rm right white red-text" style="cursor:pointer">X</button>
                        <h6>
                            <b>
                                <%= item.name %>
                                <br>
                                <%= item.price.toFixed(2) %> €
                            </b>
                        </h6>
                        <br>
                        <p>
                            <!-- Ürün kodu:
                            <%= item.id %> -->
                        </p>
                        <p><%= session.siteText[session.siteLang].cart.size %>: <%= item.size %></p>
                        <p syle="background-color= <%= item.color %>"><%= session.siteText[session.siteLang].cart.color %>: <%= item.color %>
                        </p>
                        <p class="productTotal">
                            <%= session.siteText[session.siteLang].cart.total %>:
                            <%= item.totalPrice.toFixed(2) %> €
                        </p>
                        <div class="row valign-wrapper right">
                            <a ></a>
                            <div id="itemQty">
                                Quantity: <%= item.qty %>
                            </div>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <ul class="collection col s12 m4 cart">
            <p class="center"><%= session.siteText[session.siteLang].cart.cartTotal %></p>

            <li class="collection-item total">
                <%= session.siteText[session.siteLang].cart.final %>
                <div class="right">
                    <%= total.toFixed(2) %> €
                </div>
            </li>
            <li class="collection-item total">
                <%= session.siteText[session.siteLang].cart.total %>
                <div class="right">
                    <%= total.toFixed(2) %> €
                </div>
            </li>
            <li class="collection-item total">
                WIP<br>
                refresh to update for now
            </li>


            <br>
            <script src="https://www.paypal.com/sdk/js?currency=EUR&client-id=AZk1_I8WV6B0YSG0Agn3tYA6n-lWR8egdPxPwcdZSIEm7vQAbVX-cDdqVlwkBqotOhZeGKijpHq-ST8J"> // Replace YOUR_CLIENT_ID with your sandbox client ID
            </script>

            <div id="paypal-button-container"></div>

            <!-- Add the checkout buttons, set up the order and approve the order -->
            <script>
                const price = <%= total.toFixed(2) %>      
                paypal.Buttons({
                    createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    currency_code: "EUR",
                                    value: price
                                }
                            }]
                        });
                    },
                    onApprove: function(data, actions) {
                        window.location.href = "afrocheck.net/product/completed?productId=" + <%= item.productId %>
                        return actions.order.capture().then(function(details) {
                            alert('Transaction completed by ' + details.payer.name.given_name);
                        });
                    }
                }).render('#paypal-button-container'); // Display payment options on your web page
            </script>
        </ul>
    </div>
    <% } else { %>
    <h6><%= session.siteText[session.siteLang].cart.empty %></h6>
    <p><%= session.siteText[session.siteLang].cart.emptyDetil %></p>
    <% } %>
</div>
</div>
</div>

<%- include partials/footer %>
<script src="/javascripts/cart.js"></script>
