<%- include partials/header %>

<div class="container cartwrapper">
    <div class="row">
       <h5>Products you just have bought</h5>
    </div>
    <div class="row">
        <div class="col s8 m8 cart">
            <% if (orderData && orderData.length > 0) { %>
            <% orderData.forEach((item, index) => { %>
            <div id="<%= item.id %>" class="card horizontal">
                <div class="card-image">
                    <img src="/products/<%= item.id %>/0.png">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h6>
                            <b>
                                <%= item.name %>
                                <br>
                                <%= item.price.toFixed(2) %> €
                            </b>
                        </h6>
                        <br>
                        <p>
                            <!-- Ürün kodu:
                            <%= item.id %> -->
                        </p>
                        <p><%= session.siteText[session.siteLang].cart.size %>: <%= item.size %></p>
                        <p syle="background-color= <%= item.color %>"><%= session.siteText[session.siteLang].cart.color %>: <%= item.color %>
                        </p>
                        <div class="row valign-wrapper right">
                            <a ></a>
                            <div id="itemQty">
                                Quantity: <%= item.qty %>
                            </div>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    
    </div>
    <% } else { %>
    <h6><%= session.siteText[session.siteLang].cart.empty %></h6>
    <p><%= session.siteText[session.siteLang].cart.emptyDetil %></p>
    <% } %>
</div>
</div>
</div>

<%- include partials/footer %>
