<%- include partials/header %>

<div class="row">
    <div class="types">
        <%- include partials/sidemenu %>
    </div>

    <h5 class="col s12 m9 left">
        <%- productType %>
    </h5>

    <br><br><br>

    <% listing.forEach((item, index) => { %>
    <% if (index % 3 === 0) { %>
    <div class="row">
        <% if (index > 0) { %>
        <div class="col show-on-medium-and-up m3 l3"></div>
        <% }%>
        <% } %>
        <div class="col s12 m3 l3">
            <div class="card z-depth-0">
                <a href="/product/<%= item.id %>">
                    <div class="card-image">
                        <% if (item.picture) { %>
                        <img src="/products/<%= item.id %>/0.png" />
                        <% } else { %>
                        <img src="https://via.placeholder.com/700x800.jpg?text=Ürün+resmi+hazırlanıyor" />
                        <% } %>
                    </div>
                    <div class="card-content center black-text">
                        <span class="card-title black-text">
                            <%= listingNames[index] %>
                        </span>
                        <p>
                            <%= item.price.toFixed(2) %> ₺
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <% if (index % 3 === 2) { %>
    </div>
    <% } %>
    <% }); %>
</div>

<%- include partials/footer %>
