<div class="nav-wrapper">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="black-text material-icons">menu</i></a>
    <ul id="slide-out" class="sidenav">
        <%if (session.userid){%>
        <li>
            <a href="/logout" style="font-size: 12px;" class="black-text valign-wrapper">
                <i
                    class="material-icons left">power_settings_new</i><%= session.siteText[session.siteLang].navTop.logout %>
            </a>
        </li>
        <%}%>
        <li>
        <% if (!session.userid) { %>
        <a href="/login" style="font-size: 12px;" class="black-text valign-wrapper">
            <i class="material-icons left">person</i><%= session.siteText[session.siteLang].navTop.login %>
        </a>
        <% } else { %>
        <a href="/profile" style="font-size: 12px;" class="black-text valign-wrapper">
            <i class="material-icons left">person</i><%= session.siteText[session.siteLang].navTop.profile %>
        </a>
        <% }%>
        </li>
        <li>
            <a href="#" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">favorite</i><%= session.siteText[session.siteLang].navTop.favorites %>
            </a>
        </li>
        <li>
            <a href="/cart" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">shopping_basket</i><%= session.siteText[session.siteLang].navTop.cart %>
                (<%=(session.cart) ? session.cartQty : 0; %>)
            </a>
        </li>

        <li>
        <!-- language options -->
        <div class="lang">
            <img id="tr" style="width: 15px;" src="/images/tr.png">
            <img id="en" style="width: 15px;" src="/images/en.png">
            <img id="ru" style="width: 15px;" src="/images/ru.png">
            <img id="uk" style="width: 15px;" src="/images/uk.png">
            <img id="ar" style="width: 15px;" src="/images/ar.png">
            <img id="it" style="width: 15px;" src="/images/it.png">
        </div>
        <!-- language options END -->
        </li>
    </ul>
    <!-- sidenav END -->

    <ul class="left hide-on-med-and-down row">
        <li>
            <a href="/customer-service" style="font-size: 12px;" class="black-text">
                <%= session.siteText[session.siteLang].navTop.customerServices %>
            </a>
        </li>
    </ul>

    <!-- language options -->
    <ul class="left hide-on-med-and-down row lang">
        <li><img id="tr" style="width: 15px;" src="/images/tr.png"></li>
        <li><img id="en" style="width: 15px;" src="/images/en.png"></li>
        <li><img id="ru" style="width: 15px;" src="/images/ru.png"></li>
        <li><img id="uk" style="width: 15px;" src="/images/uk.png"></li>
        <li><img id="ar" style="width: 15px;" src="/images/ar.png"></li>
        <li><img id="it" style="width: 15px;" src="/images/it.png"></li>
    </ul>
    <!-- language options END -->

    <ul class="right hide-on-med-and-down">
        <%if (session.userid){%>
        <li>
            <a href="/logout" style="font-size: 12px;" class="black-text valign-wrapper">
                <i
                    class="material-icons left">power_settings_new</i><%= session.siteText[session.siteLang].navTop.logout %>
            </a>
        </li><%}%>
        <li>
        <% if (!session.userid) { %>
        <a href="/login" style="font-size: 12px;" class="black-text valign-wrapper">
            <i class="material-icons left">person</i><%= session.siteText[session.siteLang].navTop.login %>
        </a>
        <% } else { %>
        <a href="/profile" style="font-size: 12px;" class="black-text valign-wrapper">
            <i class="material-icons left">person</i><%= session.siteText[session.siteLang].navTop.profile %>
        </a>
        <% }%>
        </li>

        <li>
            <a href="#" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">favorite</i> <%= session.siteText[session.siteLang].navTop.favorites %>
            </a>
        </li>
        <li>
            <a href="/cart" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">shopping_basket</i> <%= session.siteText[session.siteLang].navTop.cart %>
                (
                <div id="cartQty">
                    <%= (session.cart) ? session.cartQty : 0; %>
                </div>
                )
            </a>
        </li>
    </ul>
</div>
