<div class="nav-wrapper">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="black-text material-icons">menu</i></a>
    <ul id="slide-out" class="sidenav">
        <%if (session.userid){%>
        <li>
            <a href="/logout" style="font-size: 12px;" class="black-text valign-wrapper">
                <i
                    class="material-icons left">power_settings_new</i><%= session.siteText[session.siteLang].navTop.logout %>
            </a>
        </li>
        <%}%>
        <li>
        <% if (!session.userid) { %>
        <a href="/login" style="font-size: 12px;" class="black-text valign-wrapper">
            <i class="material-icons left">person</i><%= session.siteText[session.siteLang].navTop.login %>
        </a>
        <% } else { %>
        <a href="/profile" style="font-size: 12px;" class="black-text valign-wrapper">
            <i class="material-icons left">person</i><%= session.siteText[session.siteLang].navTop.profile %>
        </a>
        <% }%>
        </li>
        <li>
            <a href="#" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">favorite</i><%= session.siteText[session.siteLang].navTop.favorites %>
            </a>
        </li>
        <li>
            <a href="/cart" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">shopping_basket</i><%= session.siteText[session.siteLang].navTop.cart %>
                (<%=(session.cart) ? session.cartQty : 0; %>)
            </a>

        </li>
        <li>
            <a href="/about-us" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">person</i>About Us<%= session.siteText[session.siteLang].navTop.aboutus %>
            </a>
        </li>


    
    </ul>
    <!-- sidenav END -->

    <ul class="left hide-on-med-and-down row">
        <li>
            <a href="/customer-service" style="font-size: 12px;" class="black-text">
                <%= session.siteText[session.siteLang].navTop.customerServices %>
            </a>
        </li>
    </ul>


    <ul class="right hide-on-med-and-down">
        <%if (session.userid){%>
        <li>
            <a href="/logout" style="font-size: 12px;" class="black-text valign-wrapper">
                <i
                    class="material-icons left">power_settings_new</i><%= session.siteText[session.siteLang].navTop.logout %>
            </a>
        </li><%}%>
        <li>
        <% if (!session.userid) { %>
        <a href="/login" style="font-size: 12px;" class="black-text valign-wrapper">
            <i class="material-icons left">person</i><%= session.siteText[session.siteLang].navTop.login %>
        </a>
        <% } else { %>
        <a href="/profile" style="font-size: 12px;" class="black-text valign-wrapper">
            <i class="material-icons left">person</i><%= session.siteText[session.siteLang].navTop.profile %>
        </a>
        <% }%>
        </li>

        <li>
            <a href="#" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">favorite</i> <%= session.siteText[session.siteLang].navTop.favorites %>
            </a>
        </li>
        <li>
            <a href="/cart" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">shopping_basket</i> <%= session.siteText[session.siteLang].navTop.cart %>
                (
                <div id="cartQty">
                    <%= (session.cart) ? session.cartQty : 0; %>
                </div>
                )
            </a>
        </li>
        <li>
            <a href="/about-us" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">info</i><%= session.siteText[session.siteLang].navTop.aboutus %>
            </a>
        </li>
    </ul>
</div>
