<%- include partials/header.ejs %>

<form class="row" action="/panel/addproduct" id="adminform" method="POST">
    <div class="col s6 m6 l6">
        <%- include(`partials/types/${stockType}`); %>
    </div>
    <input type="hidden" name="stock_type" value="<%= stockType %>">
    <input type="hidden" name="product_type" value="<%= productType %>">
    <div style="margin-top: 10px;" class="col s12 m6 l6">
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input placeholder="Enter product title.." name="product_title" id="productDesc" type="text" class="validate" required>
                <label for="first_name">Product title</label>
            </div>
        </div>
        <div class="row">
            <p class="center" style="font-size: small;">Product color</p>
            <div class="center input-field col s12 m12 l12">
                <input placeholder="Enter product color.." name="product_color" id="product_color" type="color" class="center-align validate" required>
                <p class="right" style="font-size: small;">Hint! You can add products one by one for
                    different colors of the same product.</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input placeholder="Enter Product code.." name="product_code" id="productCode" type="number" class="validate" required>
                <label for="first_name">Product code</label>
                <p class="right red-text" style="font-size: small;">Attention! If you are adding a different colored version of an existing product,
                    you must enter the product code of the existing product!</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input placeholder="Enter product description.." name="product_desc" id="productDesc" type="text" class="validate" required>
                <label for="first_name">Product description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 m6 l6">
                <select name="money_type" required>
                    <option value="" disabled selected>Currency unit</option>
                    <option value="1">Euro / EUR</option>
                </select>
                <label>Currency selection</label>
            </div>
            <div class="input-field col s6 m6 l6">
                <input placeholder="Product fee" name="product_price" type="number" class="validate" required>
                <label for="first_name">Product fee</label>
            </div>
            <div class="row">
                <a class="col right s12 m5 l5 offset-l1 offset-m1 waves-effect waves-light green btn-small" id="upload-file-fake" style="margin-top:2em;"><span id="upinfo">Upload image 0/5</span></a>
                <a id="addproduct" class="col right s12 m5 l5 offset-l1 offset-m1 waves-effect waves-light green btn-small" style="margin-top:2em;">Add product</a>
                <input type="file" accept="image/jpg, image/png" name="productimage" style="display:none" id="upload-file-real" />
            </div>
        </div>
    </div>
</form>

<%- include partials/footer.ejs%>

<script src="/javascripts/panel/add.js"></script>
