<%- include partials/header.ejs %>

<%if(page === 0){%>
<ul class="collection with-header">
    <li class="collection-header"><h4>Orders</h4></li>
    <%for(let i = 0; i<ordersresult.length; i++){%>
    <%if(ordersresult[i].trackingNumber === 0){%>
    <li  class="collection-item"><div><b>ID: <%=ordersresult[i].orderId%></b> - <%=ordersresult[i].name%> - <b>Quantity:</b> <%=ordersresult[i].qty%> - <b>Color:</b> <%=ordersresult[i].color%> <b>Size:</b> <%=ordersresult[i].size%> | Click to enter the shipment tracking number!<a href="/panel/acceptorder?user=<%=ordersresult[i].userId%>&id=<%=ordersresult[i].orderId%>" class="secondary-content"><i class="material-icons tiny">send</i></a></div></li>
    <%}else{%>
    <li  class="collection-item"><div><b>ID: <%=ordersresult[i].orderId%></b> - <%=ordersresult[i].name%> - <b>Quantity:</b> <%=ordersresult[i].qty%> - <b>Color:</b> <%=ordersresult[i].color%> <b>Size:</b> <%=ordersresult[i].size%> | <b>Shipping company:</b> <%=ordersresult[i].company%> - <b>shipment tracking: </b><%=ordersresult[i].trackingNumber%><a href="/panel/removeorder" class="secondary-content"><i class="material-icons tiny">done</i></a></div></li>
    <%}%>
    <%}%>
</ul>
<%}else{%>
    
<h4>Order Detail</h4>
<div class="row" style="margin-top: 40px;">

        <div class="col s12 l12 m12 chip">
           
                <b>ID: </b> <%=result.order[0].orderId%>        
            </div>
    <div class="col s12 l12 m12 chip">
           
    <b>Name - Surname:</b> <%=result.detail.clientname%> <%=result.detail.clientsurname%>

  </div>
    <div class="col s12 l12 m12 chip">
        <b> ID / Passport:</b> <%=result.detail.idnumber%>
    </div>
    <div class="col s12 l12 m12 chip">

        <b> Contact:</b> <%=result.detail.phonenumber%>

    </div>
    

    </div>
    <div class="row">
    <div class="col s12 l12 m12 chip">

        <b> Product:</b> <%=result.order[0].name%>

    </div>
    <div class="col s12 l12 m12 chip">

        <b> color:</b> <%=result.order[0].color%>

    </div>
    <div class="col s12 l12 m12 chip">

        <b> Size:</b> <%=result.order[0].size%>

    </div>
    </div>
    <div class="row">
    <div class="col s12 l12 m12 chip">

        <b> Quantity:</b> <%=result.order[0].qty%>

    </div>
    <div class="col s12 l12 m12 chip">

        <b> Price:</b> <%=result.order[0].price%>

    </div>
</div>
    <div class="row"> 
        <div class="col s12 l12 m12 chip">
             
            <b>Address title:</b> <%=result.address[0].title%>
        
          </div>
          <div class="col s12 l12 m12 chip">
                 
            <b>Country:</b> <%=result.address[0].country%>
        
          </div>
          <div class="col s12 l12 m12 chip">
                 
            <b>City:</b> <%=result.address[0].city%>
        
          </div></div>
   
      <div class="row">
          <div class="col s12 l12 m12 chip">
             
        <b>Location:</b> <%=result.address[0].location%>
    
      </div>
      <div class="col s12 l12 m12 chip">
             
        <b>Postal Code:</b> <%=result.address[0].postalcode%>
    
      </div>
      <div class="col s12 l12 m12 chip">
             
        <b>Address:</b> <%=result.address[0].content%>
    
      </div>
    </div>
           <form action="/panel/manageorders?q=1&orderId=<%=result.order[0].orderId%>" method="POST" style="margin-bottom: 100px;">
               <div class="row">
                    <div class="input-field col s12 m12 l12 ">
                            <input name="cargoname" required placeholder="UPS" id="cargoname" type="text" class="validate">
                            <label for="cargoname">Shipping company: </label>
                    </div>    
               </div>
               <div class="row">
                    <div class="input-field col s12 m12 l12 ">
                            <input type="number" name="cargono" required placeholder="" id="cargono" class="validate">
                            <label for="cargono">Shipment tracking number: </label>
                    </div>    
               </div>
               <div class="row center">   <div class="col s6 m6 l6">  
                    <button type="submit" class="waves-effect waves-light light-green btn">Accept</button>
                </div>
                <div class="col s6 m6 l6">  
                        <a class="waves-effect waves-light red btn">Decline</a>
                    </div></div>
            
         
        </form>  
            
      

</div>



    <%}%>


<%- include partials/footer.ejs%>
