<%- include partials/header.ejs %>

<div class="row center center-align">
    <form method="POST" action="/panel/add">
        <div class="input-field col s12 m12 l12">
            <select name="values" required>
                <%let temp = 1; %>
                <%for(let i = 0; i < headers.length; i++){%>
                <optgroup value="<%=headers[i]%>" name="title" label="<%=headers[i]%>">
                    <%for(let j = 0; j < productInfo[i].length; j++){%>
                    <option value="<%=headers[i]%>*<%=productInfo[i][j]%>*<%=temp%>%>"><%=productInfo[i][j]%>
                    </option>
                    <%temp+=1;%>
                    <%}%>
                    </optgroup>
                    <%}%>
            </select>
            <label>Select category and product type</label>
        </div>
        <div class="input-field col s12 m12 l12">
            <select name="type" required>
                <option value="0">No Sizes / Home Textiles & Glassware / Towels</option>
                <option value="1">Classic Body Size (XS ... XXL)</option>
                <option value="2">Child Size (5 ... 14+ yaş)</option>
                <option value="3">Baby Size (1 ay ... 4 yaş)</option>
                <option value="4">Adult Shoes (36 ... 45)</option>
                <option value="5">Children's Shoes (30 ... 35)</option>
                <option value="6">Baby shoes (20 ... 29)</option>
                <option value="7">Underwear / Bras</option>
                <option value="8">Underwear / Panties</option>
            </select>
            <label>Choose size type:</label>
        </div>
        <button class="center center-align waves-effect waves-light green btn-small">Continue</button>
    </form>
</div>
<%-include partials/footer.ejs%>
